@charset "UTF-8";
a {
  text-decoration: none;
}

.header {
  position: relative;
  height: 100vh;
  background-image: url("http://www.themesindustry.com/html/maxo/images/banner2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header .top-header .logo {
  width: 7%;
  padding-top: 25px;
}

.header .top-header .menu ul li.home a::before {
  width: 60%;
  left: 0;
  right: 0;
}

.header .top-header .menu ul li i {
  color: white;
  font-size: 22px;
}

.header .top-header .menu ul li a {
  position: relative;
  padding: 25px;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.header .top-header .menu ul li a:before {
  content: "";
  position: absolute;
  top: 90%;
  left: 50%;
  right: 50%;
  height: 4px;
  background-color: aqua;
  width: 0%;
  margin: auto;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header .top-header .menu ul li a:hover:before {
  width: 60%;
  left: 0%;
  right: 0%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header .bottom-header {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header .bottom-header .text {
  position: absolute;
  top: 20%;
  left: 10%;
}

.header .bottom-header .text h3 {
  font-size: 3rem;
  color: white;
  margin-bottom: 5px;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header .bottom-header .text p {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 60px;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header .bottom-header .btn1 {
  position: relative;
  z-index: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  padding: 15px 20px;
  background-color: #42d9e4;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header .bottom-header .btn1::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: #fff;
}

.header .bottom-header .btn1:hover::before {
  width: 100%;
}

.section1 {
  height: 850px;
  width: 100%;
}

.section1 .title p {
  margin-top: 90px;
  margin-bottom: 10px;
  color: #666666;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.section1 .title h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #515A5F;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 50px;
}

.section1 .box {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  padding: 40px;
  -webkit-box-shadow: 0 0 3px 0 rgba(130, 121, 121, 0.6);
          box-shadow: 0 0 3px 0 rgba(130, 121, 121, 0.6);
  margin-bottom: 40px;
}

.section1 .box h1 {
  color: #515A5F;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin: 15px auto;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.section1 .box p {
  color: #666666;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  line-height: 1.6em;
  font-size: 15px;
}

.section1 .box i {
  color: #42d9e4;
  font-size: 40px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  margin-bottom: 15px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.section1 .box:hover {
  background-color: #42d9e4;
}

.section1 .box:hover i {
  color: #fff;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section1 .box:hover p {
  color: #fff;
}

.section1 .box:hover h1 {
  color: #fff;
}

.section2 {
  background-color: #f5f5f5;
  height: 541px;
}

.section2 .image {
  width: 50%;
  height: 541px;
  background-image: url(http://www.themesindustry.com/html/maxo/images/bghalf-1.jpg);
  background-attachment: fixed;
}

.section2 .box {
  padding: 100px 70px;
}

.section2 .box h1 {
  color: #515A5F;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 55px;
  font-weight: normal;
  margin-bottom: 30px;
}

.section2 .box .review {
  margin-bottom: 30px;
}

.section2 .box .review img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  border: 3px solid #515A5F;
  margin-right: 20px;
}

.section2 .box .review .name-box h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #515A5F;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 17px;
}

.section2 .box .review .name-box p {
  color: #666666;
  font-weight: 300;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section2 .box .text {
  width: 95%;
  color: #666666;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  line-height: 1.65em;
}

.section3 {
  height: 1500px;
}

.section4 {
  margin: auto;
  position: relative;
  height: 387px;
  background-image: url(http://www.themesindustry.com/html/maxo/images/parallax-bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section4 .text {
  position: absolute;
  top: 10%;
  left: 30%;
}

.section4 .text h1 {
  width: 60%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.65em;
  font-size: 30px;
}

.section4 .text i {
  font-size: 50px;
  color: white;
}

.section4 .text p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #42d9e4;
}

.section6 {
  position: relative;
  background: url(http://www.themesindustry.com/html/maxo/images/bghalf-2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 627px;
}

.section6 .box-left {
  padding: 100px;
  position: absolute;
  width: 50%;
  height: 627px;
  background-color: #f5f5f5;
  z-index: 1;
}

.section6 .box-left h1 {
  color: #515A5F;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-size: 50px;
}

.section6 .box-left .box {
  margin: 60px auto;
}

.section6 .box-left .box img {
  width: 140px;
  height: 104px;
  margin-right: 20px;
}

.section6 .box-left .box .text h4 {
  color: #515A5F;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.section8 {
  height: 850px;
  background-color: #f5f5f5;
}

.section8 .title {
  margin-bottom: 50px;
}

.section8 .title p {
  padding-top: 120px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  color: #666666;
  margin-bottom: 5px;
}

.section8 .title h1 {
  font-size: 2.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #515A5F;
  font-weight: normal;
}

.section8 .box .image {
  position: relative;
  display: inline-block;
  /* Строчно-блочный элемент */
  overflow: hidden;
  /* Скрываем всё за контуром */
}

.section8 .box .image img {
  -webkit-transition: 1s;
  transition: 1s;
  /* Время эффекта */
  display: block;
  /* Убираем небольшой отступ снизу */
  width: 370px;
  height: 333px;
}

.section8 .box .image .buttons {
  position: absolute;
  top: 5%;
  left: 3%;
}

.section8 .box .image .buttons a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #515A5F;
  font-weight: bolder;
  font-size: 11px;
  padding: 7px;
  background-color: white;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.section8 .box .image .buttons a:hover {
  color: #fff;
  background-color: #42d9e4;
}

.section8 .box h1 {
  color: #515A5F;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 20px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.section8 .box p {
  color: #666666;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  line-height: 1.65rem;
  font-size: 14px;
}

.section8 .box:hover h1 {
  color: #42d9e4;
}

.section8 .box:hover img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.section9 {
  height: 400px;
  width: 90%;
  margin: auto;
}

.section9 .title p {
  margin-top: 100px;
  color: #666666;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
}

.section9 .title h1 {
  color: #515A5F;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.section9 .image {
  width: 200px;
  margin: auto;
  display: inline-block;
  /* Строчно-блочный элемент */
  overflow: hidden;
  /* Скрываем всё за контуром */
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.section9 .image img {
  width: 200px;
  -webkit-transition: 1s;
  transition: 1s;
  /* Время эффекта */
  display: block;
  /* Убираем небольшой отступ снизу */
}

.section9 .image:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.section10 {
  height: 789px;
  background-color: #f5f5f5;
}

.footer {
  height: 100px;
}

.footer .box {
  margin-top: 70px;
}

.footer .box p {
  font-weight: 300;
  color: #666666;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer .box .icon i {
  margin-left: 3px;
  position: relative;
  padding: 10px;
  border: 1px solid #999898a9;
  border-radius: 50%;
  font-size: 12px;
}

.footer .box .icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #515A5F;
}
/*# sourceMappingURL=maxo.css.map */